body {
    font-family:'Courier New', Courier, monospace;
    font-weight: lighter;
    background-color: black;
    padding: 0px;
    margin: 0px;
}

.title {
    display: flex;
    color: white;
    height: 99.75vh;
    margin: 0px;
    padding: 0px;
    font-size: 10vh;
    background: black;
    background-image: url('photos/tiles.png');
    background-size: 20vw;
    border-bottom: 0.25vh solid white;
    align-items: center;
    justify-content: center;
}

.title > p {
    text-align: center;
    align-items: center;
    align-self: center;
    width: 100%;
}

.title > h5 {
    text-align: center;
    align-items: center;
    align-self: center;
    width: 100%;
}

.what {
    color: white;
    text-align: center;
    font-size: 2vw;

    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 20%;
    padding-right: 20%;
}

.games {
    padding-left: 5.5vw;
    padding-right: 5.5vw;

    display: grid;
    grid-gap: 1vw;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 29vw;

    padding-bottom: 5vw;
}

.box {
    border-radius: 5px;
    border: solid white 1px;
    text-decoration: none;
    background-size: 100%;
    background-repeat: no-repeat;
}

.box > .content {
    text-align: left;
    text-decoration: none;
    color: white;
    padding-top: 85%;
    padding-left: 2%;
}

.box > div > .sub {
    margin: 0px;
    padding: 0px;
    padding-left: 5%;
    font-size: 1vw;
}

.box > div > .main {
    margin: 0px;
    padding: 0px;
    padding-left: 5%;
    font-size: 2vw;
}

.box:hover {
    transform: translate(0px, -25px);
    transition: .1s;
}

.footer {
    background-color: black;
    color:  white;
    border-top: 2px solid white;
    height: 3vw;
    width: 100%;
    display: table;
}

.footer > p {
    text-align:center; 
    vertical-align: middle;
    display: table-cell;  
}

.type {
    color: white;
    display: inline-flex;
    text-align: left;
    font-size: 2vw;
    width: 87vw;
    height: 3vw;

    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 5.5vw;
    padding-right: 5.5vw;
    text-wrap: nowrap;
}

.line {
    border: .1vw white;
    border-style: dashed;
    margin-top: 1vw;
    margin-left: 3vw;
    width: 100%;
    height: 0px;
}